.Category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(85, 113, 29, 0.442);
    padding: 10px 20px;
    border-radius: 15px;
    height: 70px;
    width: 180px;
    margin: 5px;
    text-align: center;
    border: none;
}



.Category button {
    margin-left: 5px;
    margin-right: 2px;
}